body {
	background:rgb(18, 55, 97);
	background:purple;
	background-image: linear-gradient(to bottom, rgb(42, 127, 206), rgb(91, 16, 153));
	background-repeat: no-repeat;
	background-size: cover;
width: 100%;
height: 100%;
	font-size:  35px;
	color: white;
	font-family: 'Amatic SC', cursive;
}

h1{
	text-align:center;
	
}


img{
	display:block;
margin-left:  auto;
margin-right: auto;
}

img{
	
	display:block;
	margin-left:  auto;
	margin-right:  auto;
	-webkit-box-reflect:below  20px;
	
}
a{ 
	color:blue ;
}
a: :hover{
	color: purple;
}
a:visited{
	color: whitesmoke;
} 